numpy~=1.23.5
pillow~=9.5.0
opencv-python~=4.8.1.78
airtest~=1.3.2
scikit-image~=0.22.0
poco~=0.99.1
scipy~=1.11.4
requests~=2.31.0
pandas==2.1.3
pytesseract==0.3.10
paddlepaddle==2.5.2
sqlalchemy==4.7.1
marshmallow==3.20.1
airtest
pandas
sqlalchemy
pytesseract
paddleocr